@model LeonardoPerezPrueba.Models.personViewModel.personViewModel

@{
                /**/

                ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>persona</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.persona.Sexo.Nsexo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.persona.Sexo.Nsexo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.persona.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.persona.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.persona.edad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.persona.edad)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.persona.id }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>
